html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

p {  
  font-family: 'Roboto Slab', serif;
}

body {
  height: 100dvh;
  box-sizing: border-box;
  background-color: #000;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-rows: 1fr min-content; 
  gap: 0px 0px; 
}

main {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-rows: min-content 1fr; 
  gap: 0px 0px; 
}

.content {
  background-color: #fff;
  border-radius: .5em;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 0;
  }
}

.boxes {
  display: flex;
}

.box {
  text-align: center;
  padding: .5rem;
}

.box p {
  color: #464646;
}

.box button {
  background: none;
  border: none;
}

.box button p {
  font-size: 1.1em;
  font-weight: 100;
}


.box svg {
  fill: #464646;
}

.content-headless {
  border-radius: 0 0 1em 1em;
} 

nav.menu, nav.navbar {
  display: flex;
  justify-content: space-around;
}

nav.title-add {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 1rem;
}

nav.title-add h1, nav.title-add h2, nav.navbar span {
  font-weight: 200;
}

nav.navbar {
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;
  color: #fff;
}

nav.menu {
  padding: 1em 0;
}

nav.menu button, nav.navbar button, nav.title-add button {
  background: transparent;
  border: none;
}

nav.menu button svg, nav.navbar button svg, nav.title-add svg {
  fill: #fff;
}

nav.navbar button {
  height: 24px;
}

.indicator {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  text-align: center;
  left: 0;
}

form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

form label {
  margin-top: 1rem;
}

form input {
  padding: 5px;
}

ul.habit {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

ul.habit li {
  margin: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
}

ul.habit li.habit--good {
  background-color: #9ace40;
}

ul.habit li.habit--very-good {
  background-color: #e86513;
}

.list-books {
  max-height: 300px;
  overflow: auto;
  list-style: none;
  padding: 0;
}

.list-books li {
  padding: 1rem 0;
}

.list-books li button {
  border: 0;
  background: none;
  font-size: 1.1em;
  text-align: left;
}

.plan {
  font-weight: 200;
}

.plan span {
  font-size: 1.3em;
  color: #464646;
}

.plan input[type="number"] {
  width: 50px;
  height: 10px;
}

.plan .no-wrap {
  display: inline-block;
}

.plan b {
  font-weight: 400;
}

.plan select, .plan input {
  font-size: .8em;
  border: 1px solid #b4b4b4;
  color: #464646;
}

.button-container {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  box-sizing: border-box;
}

.button-container button {
  background: none;
  border: 2px #418fed solid;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  color: #418fed;
}

a {
  color: #418fed;
  text-decoration: none;
}

.bookshelf {
  text-align: center;
  padding-top: 2rem;
}

.bookshelf ul {
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 10px;
}

@media (min-width: 768px) {
  .bookshelf ul {
    column-count: 4;
  }
}

@media (min-width: 1024px) {
  .bookshelf ul {
    column-count: 6;
  }
}

.bookshelf li {
  padding-top: 1rem;
  list-style: none;
}

.bookshelf li img {
  width: 100%;
}

.message {
  text-align: center;
  width: 100%;
}

.search-field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-field input {
  width: 100%;
}

.search-field .button-container {
  width: auto;
}

.greetings {
  background: #fff;
  padding: 2rem;
}

.scroll {
  overflow-y: auto;
  max-height: 75vh;
}

.book-form img {
  width: 100%;
}

.columns-fields {
  display: flex;
  justify-content: space-between;
}