<div>
  <nav class="navbar">
    <button hx-get="/bookshelf" hx-target="#root" hx-indicator="#indicator">
      <svg viewBox="0 0 24 24" width="24" height="24"><path d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"/></svg>
    </button>
    <span>Create Book</span>
  </nav>
  <form hx-post="/create-book">
    <input id="title" name="title" type="text">
    <input id="author" name="author" type="text">
    <button type="submit">Save</button>
  </form>
</div>