<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta property="og:title" content="Patmos">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://patmos.fly.dev/login">
  <meta property="og:description" content="--- Patmos is an app for reading enthusiasts looking to read more and improve their reading skills. ---">
  <meta property="og:image" content="https://patmos.fly.dev/static/og-image.jpg">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;500&display=swap" rel="stylesheet">

  <title></title>
</head>
<body>
  <main id="root">
    <nav class="title-add">
      <h1>Login</h1>
    </nav>
    <div class="content container">
      <p class="text-intro">Patmos es un viaje personal donde no solo estoy <a href="https://emanuellopez.substack.com/" target="_blank">compartiendo sobre lo que leo</a>, sino tambien el desarrollo de esta aplicación para mejorar hábitos de lectura.</p> 
      <form hx-post="/login-user" hx-indicator="#indicator">
        <fieldset>
          <label for="email">Email</label>
          <input id="email" name="email" type="text">
        </fieldset>
        <fieldset>
          <label for="password">Password</label>
          <input id="password" name="password" type="password">
        </fieldset>
        <div class="button-container">
          <button type="submit">Login</button>
        </div>
      </form>
      <div class="button-container">
        <a href="/signup">Create a new account</a>
      </div>
    </div>
  </main>
  <div id="indicator" class="indicator htmx-indicator">Loading...</div>
  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</body>
</html>