<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;500&display=swap" rel="stylesheet">

  <title></title>
</head>
<body>
  <main id="root">
    <nav class="title-add">
      <h1>Login</h1>
    </nav>
    <form hx-post="/login-user" class="content">
      <fieldset>
        <label for="email">Email</label>
        <input id="email" name="email" type="text">
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
      </fieldset>
      <div class="button-container">
        <button type="submit">Login</button>
      </div>
    </form>
  </main>
  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</body>
</html>