<form id="form" class="book-form" hx-post="/create-book" hx-target="#books" hx-indicator="#indicator">
  <h3>Add a new book</h3>
  <fieldset>
    <label for="title">Title</label>
    <input id="title" name="title" type="text" value="{{.Title}}">
  </fieldset>
  <div class="columns-fields">
    <fieldset>
      <label for="author">Author</label>
      <input id="author" name="author" type="text" value="{{.Author}}">
    </fieldset>
    <fieldset>
      <label for="isbn">ISBN</label>
      <input id="isbn" name="isbn" type="text" value="{{.Isbn}}">
    </fieldset>
  </div>
  <div class="columns-fields">
    <fieldset>
      <label for="pages">Pages</label>
      <input id="pages" name="pages" type="number" value="{{.Pages}}">
    </fieldset>
    {{ if .Image }}<fieldset>
      <label for="image">Cover</label>
      <input style="display: none;" id="image" name="image" type="text" value="{{.Image}}">
      <img src="{{.Image}}"/>
    </fieldset>{{ end }}
  </div>
  <fieldset>
    <label for="folder">Folder</label>
    <select id="folder" name="folder">
      <option value="triage">Triage</option>
      <option value="reading">Reading</option>
      <option value="finished">Finished</option>
    </select>
  </fieldset>
  <div class="button-container">
    <button type="submit">Save</button>
  </div>
</form>