<form id="form" hx-post="/create-book" hx-target="#books" hx-indicator="#indicator">
  <h3>Add a new book</h3>
  <fieldset>
    <label for="title">Title</label>
    <input id="title" name="title" type="text" value="{{.Title}}">
  </fieldset>
  <fieldset>
    <label for="author">Author</label>
    <input id="author" name="author" type="text" value="{{.Author}}">
  </fieldset>
  <fieldset>
    <label for="pages">Pages</label>
    <input id="pages" name="pages" type="number" value="{{.Pages}}">
  </fieldset>
  <fieldset>
    <label for="image">Cover</label>
    <input style="display: none;" id="image" name="image" type="text" value="{{.Image}}">
    <img src="https://covers.openlibrary.org/b/olid/{{.Image}}-M.jpg"/>
  </fieldset>
  <div class="button-container">
    <button type="submit">Save</button>
  </div>
</form>